

$base-color: black !default;
$base-text-color:white !default;
$secondary-text-color: #818181 !default;
$text-size: 22px !default;
$heading-color:rgb(153, 13, 13)!default;
$primary-bg-color:rgb(236, 223, 223) !default;
$inf-color-primary: purple !default;
